/* A minimal css reset - 
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLLING - 
Smooth scrolling makes sure when clicking the NAV links, the page scrolls down
to the given location rather than jumping with no scrolling. 
*/

html {
  scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR - 
Scrollbar represent the entire scrollbar and it has on color.
The thumb is the slider that actually slides up and down and it has a gradient.
The gradient is set to 45deg so that it goes vertical, by default it goes horizontal.
When hover on it, the gradient flips direction which is achieved by switching the
order of the two colors that makes up the gradient.
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--saturn-sand), var(--satur-white));
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--satur-white), var(--saturn-sand));
}

/* OUR TWO MAIN COLORS BESIDE BLACK - 
created Variables for the colors used. Makes it easy to reuse them.
*/

:root {
  --saturn-sand: #bda77d;
  --satur-white: #f3ebdb;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: black;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: var(--saturn-sand);
  font-weight: 400;
  margin: 16px 0px 16px 0px;
}

h2 {
  font-size: 32px;
  color: var(--satur-white);
  font-weight: 400;
}
h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 32px;
}
h4 {
  font-weight: 600;
  color: var(--saturn-sand);
  margin-bottom: 16px;
}
p {
  color: var(--satur-white);
  line-height: 24px;
}

main {
  background-color: black;
}

section,
header {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding-top: 80px;
  margin-bottom: 80px;
}

a {
  cursor: pointer;
}

/* HEADER / NAV -
Every NAV link has a hover effect which is a underline "animation".
It is achieved simply by using position relative and absolute, setting the 
width of the line to 0% and also placing it where you want it, in this 
case to the left. When hovering, the effect takes place because the width
is set to 100% while hover after.
*/

header {
  position: fixed;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

#logo {
  margin-left: 20px;
  width: 130px;
}

.items {
  display: flex;
  gap: 1rem;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}
li a {
  position: relative;
  text-decoration: none;
  color: var(--satur-white);
  margin: 10px;
}

li a::after {
  content: "";
  position: absolute;
  background-color: var(--satur-white);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}

li a:hover:after {
  width: 100%;
}

/* Section0 start -
Styling the section 0 with height and also span to make the #6 transparent.
Text is set to position absolute to be able to have it layed over the planet image.
*/

.section-0 {
  display: flex;
  align-items: center;
  height: 900px;
}

.section-0 span {
  opacity: 0.2;
}

.textmain {
  position: absolute;
  width: 600px;
  animation-name: section0-animation;
  animation-duration: 3s;

  /* margin-left: 100px; */
}
@keyframes section0-animation {
  0% {
    opacity: 0;
    left: 0px;
  }
  100% {
    opacity: 1;
    left: 255px;
  }
}
.textmain h1 {
  font-size: 96px;
}

#section-1-image {
  margin-left: auto;
}

/* Section0 end */

/* SECTION 1 Extreme Pressure : Start - 
Used grid system to spread out the info, which was easier than creating flexbox.
Image is set to width 100% to cover the entire width of the page.
*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 16px;
  grid-gap: 24px 92px;
}

.grid-item {
  padding: 8px;
  font-size: 16px;
  color: var(--satur-white);
}

img {
  width: 100%;
}
/* SECTION 1 End */

/* Section 2 Planet Numbers : start -
Nice and easy to look at generel information.
The planet has a hover effect where is grows in size when hover. 
Nice subtle effect that enhance the section just enough.
*/

.section-2-1 {
  padding: 120px;
  display: flex;
  gap: 5rem;
  align-items: center;
  background-color: black;
  justify-content: center;
  margin: 0;
}

span {
  font-weight: 500;
  color: var(--saturn-sand);
  margin-right: 12px;
}

#imgsat {
  width: 400px;
  transition: 0.5s;
  filter: blur(0.4px);
}

#imgsat:hover {
  width: 600px;
}

.undertext {
  color: var(--satur-white);
  display: flex;
  justify-content: space-between;
}

.textExample {
  display: block;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}

.textExample h3 {
  color: var(--saturn-sand);
  font-weight: 500;
  font-size: 16px;
}

.textExample p {
  font-size: 24px;
}

/* SECTION 3 Saturn In Depth : Start -
To break up the design we decided to go for Card design options for some more
in-depth information about Saturn. 
*/

.cards {
  display: flex;
  gap: 44px;
}

.card {
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 432px;
  min-height: 700px;
  border: 2px solid var(--satur-white);
  border-radius: 8px;
  padding: 16px 16px 48px 16px;
  transition: 0.9s;
  cursor: pointer;
}

.card:hover {
  border: 2px solid var(--saturn-sand);
  background-image: linear-gradient(to bottom right, rgb(23, 23, 23), black);
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 16px;
}

/* SECTION 3 End */

/* SECTION 4 Historical Events : Start -
Section 4 contains a overflow scroll so that we can have alot of info about the 
Saturn Historical Events spread across quite a small footprint.
*/

.section-4-txt {
  padding: 56px;
  width: 100%;
  height: 420px;
  overflow: scroll;
  border-bottom: 2px solid var(--satur-white);
}

.section-4 ul {
  list-style: none;
  list-style-image: url(images/saturn\ ul\ icon.svg);
}

.section-4 li {
  color: var(--satur-white);
  font-size: 18px;
  /* font-family: "Roboto", sans-serif; */
  margin-bottom: 24px;
}

.section-4 {
  margin-bottom: 200px;
}

/* SECTION 4 End  */

/* FOOTER Start -
The footer contains a horizon image of the earth below Saturn.
And the floating astronaut hovers with a animation + transform set to infinite.
He also gives you a peace sign when hovering over him. We did this by putting
astronaut and icon inside a class so they stick together, set icon to opacity 0 by 
default and on hover set opacity to 1. animation play state makes the animation stop
while hovering, and also continue when not hovering.
*/

.astronaut-w-hand {
  width: 150px;
  margin-left: 500px;
  animation: astro infinite 12s linear;
  position: relative;
  animation-play-state: running;
}

.astronaut-w-hand:hover {
  animation-play-state: paused;
}

.astronaut-w-hand i {
  font-size: 40px;
  color: aliceblue;
  opacity: 0;
  margin: 0;
}

.astronaut-w-hand:hover i {
  opacity: 1;
}

@keyframes astro {
  0% {
    rotate: 0deg;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  25% {
    rotate: 50deg;
    left: 200px;
    top: 0px;
  }
  50% {
    rotate: 0deg;
    left: 300px;
    top: 100px;
  }
  75% {
    rotate: -80deg;
    left: 200px;
    top: 200px;
  }
  100% {
    rotate: 0deg;
    left: 0px;
    top: 0px;
  }
}
