/* A minimal css reset -
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLLING -
Smooth scrolling makes sure when clicking the NAV links, the page scrolls down
to the given location rather than jumping with no scrolling.
*/

html {
  scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR -
Scrollbar represent the entire scrollbar and it has on color.
The thumb is the slider that actually slides up and down and it has a gradient.
The gradient is set to 45deg so that it goes vertical, by default it goes horizontal.
When hover on it, the gradient flips direction which is achieved by switching the
order of the two colors that makes up the gradient.
*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--saturn-sand), var(--satur-white));
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--satur-white), var(--saturn-sand));
}

/* OUR TWO MAIN COLORS BESIDE BLACK -
created Variables for the colors used. Makes it easy to reuse them.
*/

:root {
  --saturn-sand: #bda77d;
  --satur-white: #f3ebdb;
}

/* FONT CHOICES -
Poppins has a round and futuristic design that suits well with the
space theme and even the planet name; Saturn. It also pairs well
with our other font; Roboto Mono. We chose the Mono version because
of mono fonts legibility, they are very easy to read. Mono fonts
also fits very well with the theme and subject thinking back to
the golden age of the space/moon-race where all text in NASA software
was in mono. It is a nod to that era.

*/

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: black;
}

/* FONT ADJUSTMENTS
H1 have received a infinite animation that varies its color
to bring motion to the page

*/

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: var(--saturn-sand);
  animation-name: animation-h1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-weight: 400;
  margin: 16px 0px 16px 0px;
}
@keyframes animation-h1 {
  0% {
    color: var(--saturn-sand);
  }
  100% {
    color: hsla(39, 33%, 62%, 0.6);
  }
}

h2 {
  font-size: 32px;
  color: var(--satur-white);
  font-weight: 400;
}
h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 32px;
}
h4 {
  font-weight: 600;
  color: var(--saturn-sand);
  margin-bottom: 16px;
}
p {
  color: var(--satur-white);
  line-height: 24px;
}

main {
  background-color: black;
}

section,
header {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding-top: 80px;
  margin-bottom: 80px;
}

a {
  cursor: pointer;
}

/* HEADER / NAV -
Every NAV link has a hover effect which is a underline "animation".
It is achieved by using position relative + absolute, setting the
width of the line to 0% and placing it where you want it, in this
case to the left. When hovering, the effect takes place because the width
is set to 100% on hover after.
*/

header {
  position: fixed;
  z-index: 10;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  position: fixed;
  width: 100%;
}
/* Rings animation on top next to MK logo */
.logoanim {
  width: 50px;
  height: 50px;
  border: 2px solid var(--satur-white);
  border-right: 1px solid transparent;
  animation: animlogo 7s linear infinite;
  z-index: -1;
  margin-left: 14px;
  margin-bottom: 10px;
}

.logoanim,
.line1 {
  position: absolute;
  border-radius: 50%;
}

.line1 {
  width: 45px;
  height: 45px;
  border: 2px solid var(--saturn-sand);
  border-right: 4px solid transparent;
  opacity: 0.9;
  animation: animlogo 4s linear infinite;
}

@keyframes animlogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Logo wordmark */
#logo {
  margin-left: 80px;
  width: 130px;
}

.items {
  display: flex;
  gap: 2rem;
}

ul {
  list-style-type: none;
}
li a {
  position: relative;
  text-decoration: none;
  color: var(--satur-white);
  margin: 10px;
}

li a::after {
  content: "";
  position: absolute;
  background-color: var(--satur-white);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}

li a:hover:after {
  width: 100%;
}

/* Section0 start -
Styling the section 0 with height and also span to make the #6 transparent.
Text is set to position absolute to be able to have it layed over the Saturn planet image.
*/

.section-0 {
  display: flex;
  align-items: center;
  height: 900px;
}

.section-0 span {
  opacity: 0.6;
}

.textmain {
  position: absolute;
  width: 600px;
  animation-name: section0-animation;
  animation-duration: 5s;
  left: 150px;
}
@keyframes section0-animation {
  0% {
    opacity: 0;
    left: 0px;
  }

  100% {
    opacity: 1;
    left: 150px;
  }
}
.textmain h1 {
  font-size: 96px;
}

#section-1-image {
  margin-left: auto;
}

/* Section0 end */

/* SECTION 1 Extreme Pressure : Start -
Used grid system to spread out the info, which was easier than creating flexbox.
Image is set to width 100% to cover the entire width of the page.
*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 16px;
  grid-gap: 24px 92px;
}

.grid-item {
  padding: 8px;
  font-size: 16px;
  color: var(--satur-white);
}

img {
  width: 100%;
}
/* SECTION 1 End */

/* Section 2 Planet Numbers : start -
Used table to make the info next to the image..
The planet has a hover effect where is grows in size when hover.
*/
table {
  /* font-family: "Roboto Mono", monospace; */
  width: 35%;
  margin-left: auto;
}

/* Table heading and data universal styling */
th,
td {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 22px;
  /* padding: 0px, 36px; */
  border-bottom: 1px solid #bda77d80;
}
/* Table heading extra styling */
th {
  text-align: start;
  color: var(--saturn-sand);
}
td {
  text-align: start;
  color: var(--satur-white);
}

.section-2-1 {
  padding: 120px;
  display: flex;
  /* gap: 5rem; */
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* SATURN ANIMATION Start */
/* Added two images with position absolute.
 First image is full, and the other half were we used z-index3.
This was done so that the rings could rotate 360 degrees around Saturn.
 Also used for images transform translate,
so that Saturn was in the middle of the rings.
Added two animations. One animation is parent and responsible for the radius,
the second is with childe dives for the randomness of the rings. In the second animation,
each line of the ring has its own parameters, both in time and sizes.
 Transform set to infinite.*/

.imgsat,
.saturn {
  position: absolute;
  transform: translate(-90%, 0);
  height: 220px;
  width: 220px;
  border-radius: 50%;
  z-index: 1;
}

.saturn {
  z-index: 3;
}

.asteroid {
  width: 300px;
  height: 300px;
  margin-right: 400px;
  border: 3px solid var(--saturn-sand);
  border-right: 3px solid transparent;
  animation: animasAsteroid1 7s linear infinite;
  z-index: 2;
}
/* Rings for the animation */
.asteroid,
.ast1,
.ast2,
.ast3,
.ast4,
.ast5,
.ast6,
.ast7,
.ast8,
.ast9,
.ast10,
.ast11,
.ast12,
.ast13,
.ast14,
.ast15,
.ast16,
.ast17,
.ast18,
.ast19,
.ast20,
.ast21,
.ast22,
.ast23,
.ast24,
.ast25 {
  position: absolute;
  border-radius: 50%;
}

.ast1 {
  border: 4px solid var(--saturn-sand);
  border-left: 4px solid transparent;
  opacity: 0.6;
  left: -5px;
  top: -5px;
  width: 310px;
  height: 310px;
  animation: animasAsteroid2 24s linear infinite;
}

.ast2 {
  border: 4px solid var(--satur-white);
  border-left: 4px solid transparent;
  opacity: 0.6;
  left: -10px;
  top: -10px;
  width: 320px;
  height: 320px;
  animation: animasAsteroid2 11s linear infinite;
}

.ast3 {
  border: 4px solid var(--saturn-sand);
  border-left: 4px solid transparent;
  opacity: 0.6;
  left: -15px;
  top: -15px;
  width: 330px;
  height: 330px;
  animation: animasAsteroid2 17s linear infinite;
}

.ast4 {
  border: 4px solid var(--saturn-sand);
  border-top: 4px solid transparent;
  opacity: 0.6;
  left: -20px;
  top: -20px;
  width: 340px;
  height: 340px;
  animation: animasAsteroid2 10s linear infinite;
}

.ast5 {
  border: 3px solid var(--satur-white);
  border-top: 3px solid transparent;
  opacity: 0.7;
  left: -25px;
  top: -25px;
  width: 350px;
  height: 350px;
  animation: animasAsteroid2 18s linear infinite;
}

.ast6 {
  border: 4px solid var(--saturn-sand);
  border-bottom: 4px solid transparent;
  opacity: 0.8;
  left: -30px;
  top: -30px;
  width: 360px;
  height: 360px;
  animation: animasAsteroid2 16s linear infinite;
}

.ast7 {
  border: 4px solid var(--saturn-sand);
  border-left: 4px solid transparent;
  opacity: 0.6;
  left: -35px;
  top: -35px;
  width: 370px;
  height: 370px;
  animation: animasAsteroid2 14s linear infinite;
}

.ast8 {
  border: 3px solid var(--satur-white);
  border-left: 3px solid transparent;
  opacity: 0.8;
  left: -40px;
  top: -40px;
  width: 380px;
  height: 380px;
  animation: animasAsteroid2 22s linear infinite;
}

.ast9 {
  border: 4px solid var(--saturn-sand);
  border-top: 4px solid transparent;
  opacity: 0.3;
  left: -45px;
  top: -45px;
  width: 390px;
  height: 390px;
  animation: animasAsteroid2 22s linear infinite;
}

.ast10 {
  border: 4px solid var(--saturn-sand);
  border-left: 4px solid transparent;
  opacity: 0.7;
  left: -50px;
  top: -50px;
  width: 400px;
  height: 400px;
  animation: animasAsteroid2 22s linear infinite;
}

.ast11 {
  border: 4px solid var(--satur-white);
  border-top: 4px solid transparent;
  opacity: 0.4;
  left: -55px;
  top: -55px;
  width: 410px;
  height: 410px;
  animation: animasAsteroid2 21s linear infinite;
}

.ast12 {
  border: 3px solid var(--saturn-sand);
  border-left: 3px solid transparent;
  opacity: 0.7;
  left: -60px;
  top: -60px;
  width: 420px;
  height: 420px;
  animation: animasAsteroid2 12s linear infinite;
}

.ast13 {
  border: 4px solid var(--satur-white);
  border-bottom: 4px solid transparent;
  opacity: 0.7;
  left: -65px;
  top: -65px;
  width: 430px;
  height: 430px;
  animation: animasAsteroid2 17s linear infinite;
}

.ast14 {
  border: 4px solid var(--saturn-sand);
  /* border-left: 4px solid transparent; */
  opacity: 0.7;
  left: -70px;
  top: -70px;
  width: 440px;
  height: 440px;
  animation: animasAsteroid2 17s linear infinite;
}

.ast15 {
  border: 4px solid var(--saturn-sand);
  border-left: 4px solid transparent;
  opacity: 0.6;
  left: -100px;
  top: -100px;
  width: 500px;
  height: 500px;
  animation: animasAsteroid2 12s linear infinite;
}

.ast16 {
  border: 3px solid var(--saturn-sand);
  border-top: 3px solid transparent;
  opacity: 0.5;
  left: -107px;
  top: -107px;
  width: 514px;
  height: 514px;
  animation: animasAsteroid2 23s linear infinite;
}

.ast17 {
  border: 3px solid var(--saturn-sand);
  border-left: 3px solid transparent;
  opacity: 0.6;
  left: -115px;
  top: -115px;
  width: 528px;
  height: 528px;
  animation: animasAsteroid2 17s linear infinite;
}

.ast18 {
  border: 4px solid var(--satur-white);
  border-top: 4px solid transparent;
  opacity: 0.6;
  left: -122px;
  top: -122px;
  width: 542px;
  height: 542px;
  animation: animasAsteroid2 17s linear infinite;
}

.ast19 {
  border: 4px solid var(--saturn-sand);
  border-bottom: 4px solid transparent;
  opacity: 0.6;
  left: -129px;
  top: -129px;
  width: 558px;
  height: 558px;
  animation: animasAsteroid2 12s linear infinite;
}

.ast20 {
  border: 4px solid var(--saturn-sand);
  /* border-top: 4px solid transparent; */
  opacity: 0.8;
  left: -136px;
  top: -136px;
  width: 574px;
  height: 574px;
  animation: animasAsteroid2 23s linear infinite;
}

.ast21 {
  border: 4px solid var(--saturn-sand);
  border-top: 4px solid transparent;
  opacity: 0.8;
  left: -143px;
  top: -143px;
  width: 588px;
  height: 588px;
  animation: animasAsteroid2 23s linear infinite;
}

.ast22 {
  border: 3px solid var(--satur-white);
  /* border-top: 4px solid transparent; */
  opacity: 0.8;
  left: -150px;
  top: -150px;
  width: 600px;
  height: 600px;
  animation: animasAsteroid2 23s linear infinite;
}

@keyframes animasAsteroid1 {
  0% {
    transform: rotateX(-75deg) rotateY(-20deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-75deg) rotateY(-20deg) rotateZ(360deg);
  }
}

@keyframes animasAsteroid2 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}

/* SATURN ANIMATION END */

/* Used divs to make these 2-line info lines of text.
Display flex to put them side by side */

/* GRANDPARENT */
.undertext {
  color: var(--satur-white);
  display: flex;
  justify-content: space-between;
}

/* PARENT */
.textExample {
  display: block;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}
.textExample h3 {
  color: var(--saturn-sand);
  font-weight: 500;
  font-size: 16px;
}
.textExample p {
  font-size: 24px;
}

/* SECTION 3 Saturn In Depth : Start -
To break up the design we decided to go for Card design options for some more
in-depth information about Saturn.Added a hover effects to fit on the page
*/
/* Container for all 3 cards */
.cards {
  display: flex;
  gap: 44px;
  margin-bottom: 80px;
}

/* Combined hover state to make the cards interract with
eachother while hovering */
.cards:hover > .card:not(:hover) {
  filter: brightness(0.2) blur(3px);
}

/* Card design */
.card {
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 432px;
  min-height: 500px;
  border: 1.5px solid var(--satur-white);
  border-radius: 8px;
  padding: 16px 16px 48px 16px;
  transition: 0.9s;
  cursor: pointer;
}

/* Single card hover change */
.card:hover {
  border: 1.5px solid var(--saturn-sand);
  background-image: linear-gradient(to bottom right, rgb(23, 23, 23), black);
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 16px;
}

/* COMPARE SIZES SECTION */
/* GRANDPARENT */
.planetsizes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
/* PARENT */
.planetWtag {
  text-align: center;
}
/* CIRCLES REPRESENTING PLANETS
-includes animation that makes the planets hover up and down
*/
.planets {
  border: 2px solid var(--satur-white);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-name: planet-hover;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* PLANETS ANIMATION TIMELINE */
@keyframes planet-hover {
  0% {
    bottom: 0px;
  }
  /* 50% {
    bottom: 20px;
  } */
  100% {
    bottom: 12px;
  }
}

/* TEXT PLANETNAMES - Hidden by default*/
.hide {
  background-color: none;
  color: var(--saturn-sand);
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.planets:hover {
  background-color: var(--satur-white);
  border: none;
}
.planets:hover + .hide {
  opacity: 1;
}
/* ADJUSTING SIZES FOR EACH PLANET THROUGH ADDED CLASSNAME */
.size-mercury {
  width: 6px;
  height: 6px;
}
.size-venus {
  width: 18px;
  height: 18px;
}
.size-earth {
  width: 20px;
  height: 20px;
}
.size-mars {
  width: 10px;
  height: 10px;
}
.size-jupiter {
  width: 220px;
  height: 220px;
}
.size-saturn {
  width: 180px;
  height: 180px;
}
.size-uranus {
  width: 80px;
  height: 80px;
}
.size-neptune {
  width: 72px;
  height: 72px;
}

/* SECTION 3 End */

/* SECTION 4 Historical Events : Start -
*/

/* Added Satalit animation,
used position absolute and transform translate
for the position in image. The movement of the satelite adds movement
to the design and we chose to add it in as icing on the cake. */

.satalit {
  position: absolute;
  width: 500px;
  transform: translate(-250%, 50%);
  animation: sataanim 10s linear infinite;
}

@keyframes sataanim {
  0% {
    transform: translate(-250%, 50%);
  }
  50% {
    transform: translate(-240%, 60%);
  }

  100% {
    transform: translate(-250%, 50%);
  }
}

/* Historical Events -
Section 4 contains a overflow scroll so that we can have alot of info about the
Saturn Historical Events spread across quite a small footprint.
To give it a smooth transition for the text to the bottom we have used masking that goes
from transparent to black.
*/
.section-4-txt {
  padding: 0px 56px;
  width: 100%;
  height: 420px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.section-4 ul {
  list-style: none;
  list-style-image: url(images/saturn\ ul\ icon.svg);
  padding-bottom: 250px;
}

.section-4 li {
  color: var(--satur-white);
  font-size: 18px;
  margin-bottom: 24px;
}

.section-4 {
  margin-bottom: 200px;
}

/* SECTION 4 End  */

/* FOOTER Start -
The footer contains a horizon image of the earth below Saturn.
And the floating astronaut hovers with a animation + transform set to infinite.
He also gives you a peace sign when hovering over him. We did this by putting
astronaut and icon inside a class so they stick together, set icon to opacity 0 by
default and on hover set opacity to 1. animation play state makes the animation stop
while hovering, and also continue when not hovering.
*/

.astronaut-w-hand {
  width: 150px;
  margin-left: 500px;
  animation: astro infinite 12s linear;
  position: relative;
  animation-play-state: running;
  z-index: 12;
}

.astronaut-w-hand:hover {
  animation-play-state: paused;
}

.astronaut-w-hand i {
  font-size: 40px;
  color: aliceblue;
  opacity: 0;
  margin: 0;
}

.astronaut-w-hand:hover i {
  opacity: 1;
}

@keyframes astro {
  0% {
    rotate: 0deg;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  25% {
    rotate: 50deg;
    left: 200px;
    top: 0px;
  }
  50% {
    rotate: 0deg;
    left: 300px;
    top: 100px;
  }
  75% {
    rotate: -80deg;
    left: 200px;
    top: 200px;
  }
  100% {
    rotate: 0deg;
    left: 0px;
    top: 0px;
  }
}
/*  FOOTER End */

/* RESPONSIVE DESIGN ADJUSTMENTS - Stretch Goal - Media query */

@media (max-width: 761px) {
  h1 {
    font-size: 48px;
  }

  nav {
    font-size: 10px;
  }

  li a {
    margin: 0px;
  }

  .items {
    gap: 1rem;
  }

  .textmain {
    left: 20px;
    animation-name: section0-animation;
  }

  @keyframes section0-animation {
    0% {
      opacity: 0;
      left: 0px;
    }

    100% {
      opacity: 1;
      left: 20px;
    }
  }

  .textmain h2 {
    font-size: 20px;
    width: 300px;
  }

  .textmain h1 {
    font-size: 60px;
    width: 350px;
  }

  .section-0 {
    height: 400px;
  }

  .section-1 {
    margin-top: -150px;
  }

  .section-1 h1 {
    font-size: 45px;
  }

  .grid-item {
    font-size: small;
    width: 400px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .section-2-1 {
    padding: 0;
    display: flex;
    font-size: smaller;
  }

  .imgsat,
  .saturn {
    left: 420px;
  }

  .asteroid {
    margin-right: 300px;
  }

  table {
    width: 400px;
    position: relative;
    top: 250px;
    margin-right: 50px;
  }

  table th td {
    font-size: small;
  }

  .undertext {
    margin-top: 350px;
    display: block;
  }

  .textExample p {
    /* font-size: 16px; */
    margin-bottom: 32px;
  }

  .asteroid {
    margin-left: 330px;
  }

  .cards {
    display: block;
    margin-left: 30px;
  }

  .card {
    margin-top: 16px;
  }

  .planetsizes {
    display: block;
  }

  .astronaut-w-hand {
    width: 150px;
    margin-left: 30px;
  }
}
